//color
$cl-white-1:#fff;
$cl-white-2:#f5f5f5;
$cl-white-3: #eaeaea;
$cl-white-4: #E7E8E9;
$cl-blue-1: #007cc3;
$cl-blue-2: #4f91ca;
$cl-blue-3: #2198dc;
$cl-blue-4: rgba(0, 67, 108, 0.8);
$cl-blue-5: #00446a;
$cl-blue-6: #007cc0;
$cl-blue-7: #007AFF;
$cl-blue-8: #004166;
$cl-blue-9: #007cc3;
$cl-orange-1: #ff4040;
$cl-black-1: #00324f;
$cl-gray-1: #bbbdc0;
$cl-gray-2: #C4C4C4;

//font-size
$fs-0: 1.4rem;
$fs-1: 1.8rem;
$fs-2: 2.4rem;
$fs-3: 4rem;
$fs-4: 6rem;

//padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 30px;
$pd-6: 35px;
$pd-7: 50px;
$pd-8: 100px;
//margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-5: 30px;
$mg-6: 35px;
$mg-7: 60px;

//responsive
$smScreen: 576px;
$mdScreen: 768px;
$lgScreen: 992px;
$Screen1: 1100px;
